body{
    background-color: #0f1013;
    color: white;
    font-family: Mojang-Bold;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    font-size: 50px;
    font-weight: 700;
    padding: 20px 40px;
    background-color: #0b0b0c;
}
footer{
    background-color: #0b0b0c;
    padding: 50px;
    font-family: "Open Sans";
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7a7d8a;
    
}
.logo{
    display: flex;
    align-items: center;
    font-family: HISKYFLIPPERHI;
    gap: 15px;
    font-size: 25px;
    font-weight: 700;
    transition: scale 200ms ease;
}
.logo:hover{
    scale: 1.1;
}
.links{
    display: flex;
    align-items: center;
    gap: 25px;
}
button{
    font-family: HISKYFLIPPERHI;
    align-items:center;
    display: flex;
    font-weight:700;
    font-size: 20px;
    border-radius: 4px;
    border-width: 0;
    height: 50px;
    padding: 20px 20px;
    color: white;
}
#discord{
    transition: background-color 200ms ease;
    background-color: transparent;
    color: white;
    transition: scale 200ms ease;
}
#discord:hover{
    background-color: #181a20;
    scale: 1.1;
}
#download{
    transition: scale 200ms ease;
    background-color: #4887cf;
}
#download:hover{
    scale: 1.1;
}
hr{
    margin-left: 45%;
    margin-right: 45%;
    animation: fadeIn 5s;
    animation-delay: 450ms;
    opacity: 0;
    animation-fill-mode: forwards;
}
main{
    text-align: center;
    font-size: 75px;
    font-weight: 700;
    line-height: 20px;
}
a {
    text-decoration: none;
    color: white;
}
#highlight{
    color:#4887cf;
}
#smpcore{
    height: 300px;
    filter: drop-shadow(0 0 30px rgb(30, 35, 43)) drop-shadow(0 0 50px rgb(30, 35, 43));
    animation: 
        slideUp 2s linear infinite alternate-reverse,
        pulse 2s ease-in-out infinite alternate-reverse;
}
.smpcoredescription{
    font-weight:400;
    font-size: 20px;
    color: rgb(160, 160, 160);
    line-height: 3px;
    overflow: visible;
    font-family: "Open Sans";
    opacity: 0;
    animation-name: smpcoredescriptionanimation;
    animation-duration: 1000ms;
    animation-delay: 500ms;
    animation-fill-mode: forwards;
}
#smpcoreTitle{
    animation-name: grow;
    animation-duration: 1000ms;
}
.box{
    animation: slideIn 1000ms;
    border-style: solid;
    border-color: #21232b;
    border-radius: 10px;
    background-color: transparent;
    transition: scale 200ms, background-color 200ms;
    padding: 0 15px;
    flex: 1;
    font-family: HISKYFLIPPERHI;
    max-width: 500px;
}
.section{
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
    gap: 40px;
    margin: 20px 20%;
}
.box:hover{
    scale: 1.02;
    background-color: #181a20;
}
.sectionDescription{
    font-weight:400;
    font-size: 20px;
    color: rgb(160, 160, 160);
    line-height: 25px;
    font-family: "Open Sans";
}
@keyframes slideUp{
    from{
        transform: translateY(10px);
    }
}
@keyframes pulse{
    from{
        filter: drop-shadow(0 0 15px rgb(30, 35, 43)) drop-shadow(0 0 30px rgb(30, 35, 43));
    }
    to{
        filter: drop-shadow(0 0 30px rgb(30, 35, 43)) drop-shadow(0 0 50px rgb(30, 35, 43));
    }
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes slideIn{
    from{
        transform: translateY(100%);
        filter: blur(5px);
    }
}
@keyframes grow{
    from{
        transform: scale(0.9, 0.9);
    }
}
@keyframes smpcoredescriptionanimation{
    from{
        opacity: 0;
        filter: blur(1px);
        transform: translateY(-50px);
    }
    to{
        opacity: 1;
    }
}
@font-face {
    font-family: HISKYFLIPPERHI;
    src: url(fonts/HISKYFLIPPERHI.ttf);
}
@font-face {
    font-family: Mojang-Bold;
    src: url(fonts/Mojang-Bold.ttf);
}
@font-face {
    font-family: Mojang-Regular;
    src: url(fonts/Mojang-Regular.ttf);
}
